.container{
    width: 50%;
    margin: auto;
    background-color: aqua;
    text-align: center;
    padding: 5px;
}
    table{
        margin: auto;
    }
    
    table td tr{
        padding: 5px;
        font-size: 25px;
    }

